body {
	background-color: #a9dcff;
}

h1 {
	font-family: sans-serif;
	color: #ffffff;
	s: 'Abel', sans-serif;
	font-weight: lighter;
}
label{
	color: #fffff0;
	font-family: sans-serif;
}

.rectangle {
	color: #fffff0;
	height: 300px;
	width: 300px;
	background-color: #a9dcff;
	border-radius: 10px;
	margin-bottom: 15px;
	color: #a9dcff;
	font-family: 'Abel', sans-serif;
	padding-top: 10px;
}

#btn {
}
