body {
	background-color: #a9dcff;
}

h1 {
	font-family: sans-serif;
	color: #ffffff;
	s: 'Abel', sans-serif;
	font-weight: lighter;
}
.button {
	color: #fffff0;
	height: 30px;
	width: 300px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 15px;
	color: #a9dcff;
	font-family: 'Abel', sans-serif;
	padding-top: 10px;
	text-decoration: none;
}
.rectangle {
	color: #fffff0;
	height: 30px;
	width: 300px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 15px;
	color: #a9dcff;
	font-family: 'Abel', sans-serif;
	padding-top: 10px;
	text-decoration: none;
}

.rectangle-3 {
	color: #fffff0;
	height: 30px;
	width: 300px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 15px;
	color: #a9dcff;
	font-family: 'Abel', sans-serif;
	padding-top: 10px;
	text-decoration: none;
}

<<<<<<< HEAD
#rectangle-2 {
	a: hover{
		color: "red"
	}
=======
p {
	font-family: sans-serif;
	color: #ffffff;
	s: 'Abel', sans-serif;
	font-weight: lighter;
>>>>>>> 7b921b27accaeee0cff71322deb6dd904f5b14b2
}
